.container {
    padding: 20px;
    text-align: center;
  }
  
  .inputs {
    margin-bottom: 20px;
  }
  
  .images img {
    margin: 10px;
    max-width: 100%; /* Đảm bảo hình ảnh không vượt quá chiều rộng của container */
    height: auto; /* Để tỷ lệ khung hình đúng */
  }
  
  